---
---

<div class="barra-categorias">
    <div class="categoria CO">Complementario</div>
    <div class="categoria CB">Ciencias Básicas</div>
    <div class="categoria BI">Básicas de Ingeniería</div>
    <div class="categoria AI">Aplicadas de Ingeniería</div>
    <div class="categoria EX">Extrínsecas</div>
  </div>
  
  <style>
      .barra-categorias {
          display: flex;
          gap: 10px;
          padding: 10px;
          background-color: #ffffff;
          border-radius: 8px;
          justify-content: center;
          flex-wrap: wrap;
      }
  
      .categoria {
          padding: 5px 10px;
          color: black;
          font-weight: bold;
          border: 2px solid black;
          border-radius: 5px;
          text-align: center;
      }
  
      @media screen and (max-width: 800px) {
  
  
          .categoria{
              width: 100%;
          }
      }
  
  
      .CO { 
          background-color: #00b0f0; 
      } /* Complementario */
      .CB { 
          background-color: #ffff00; 
      } /* Ciencias Básicas */
      .BI { 
          background-color: #93d150; 
      } /* Básicas de Ingeniería */
      .AI { 
          background-color: #bfbfbf; 
      } /* Aplicadas de Ing */
      .EX { 
          background-color: #fcd5b4; 
      } /* Extrínsecas */
  </style>