---
---

<div class="barra-materias">
  <div class="materia CO">Complementario</div>
  <div class="materia CB">Ciencias Básicas</div>
  <div class="materia BI">Básicas de Ingeniería</div>
  <div class="materia AI">Aplicadas de Ingeniería</div>
  <div class="materia EX">Extrínsecas</div>
</div>

<style>
	.barra-materias {
		display: flex;
		gap: 10px;
		padding: 10px;
		background-color: #ffffff;
		border-radius: 8px;
		justify-content: center;
	}

	.materia {
		padding: 5px 10px;
		color: black;
		font-weight: bold;
		border: 2px solid black;
		border-radius: 5px;
		text-align: center;
	}

  /* Colores de cada tipo de materia */

    .CO { 
		background-color: #00b0f0; 
	} /* Complementario */
	.CB { 
		background-color: #ffff00; 
	} /* Ciencias Básicas */
	.BI { 
		background-color: #93d150; 
	} /* Básicas de Ingeniería */
	.AI { 
		background-color: #bfbfbf; 
	} /* Aplicadas de Ing */
	.EX { 
		background-color: #fcd5b4; 
	} /* Extrínsecas */
</style>
