---
import {type Materia} from '@/types/informacion'

interface Props extends Materia{

}

const { codigo, nombre, creditos, td, tc, ta, urlSyllabus } = Astro.props;
---

<a href="">

</a>

<style>
	a{
		display: block;
	}
</style>
