---
import niveles from '@/data/infoMaterias' 

---

<div id="pensum">
    {
        niveles.map(nivel=>{
            
            return <p>{nivel.nombre}</p>
        })
    }
</div>

<style>

</style>