---
import Materia from '@/components/Materia.astro'
import ModalPDF from '@/components/ModalPDF.astro'
import Layout from '@/layouts/Layout.astro'
import {obtenerMateria, obtenerMaterias} from '@/services/materiasObligatorias'
import { type MateriaType } from '@/types/informacion'

//Se generan las rutas con el codigo de cada espacio que tenga opciones
export function getStaticPaths() {
  return obtenerMaterias().map((electiva)=>{
    return {params: {id: electiva.id}}
  })
}

//Se obtiene el código de la materia
const { id } = Astro.params

//Se busca la materia con sus respectivas electivas
const materia = obtenerMateria(id)


---

<Layout title={materia?.nombre||'Electiva'}>
    <div id="contenedor">
    <h1 transition:name={materia?.nombre}>{materia?.nombre}</h1>
    <div id="opciones">
        {
            materia?.opciones?.map((opcion=>{

                let infoElectiva: MateriaType = {td: materia.td, tc: materia.tc, ta: materia.ta , creditos: materia.creditos, ...opcion}

                return (
                    <div>

                    <h3>{opcion.ruta}</h3>
                    <Materia  {...infoElectiva}/> 
                </div>
                )
            }))
        }
    </div>
    <ModalPDF/>
</div>
</Layout>

<style>

    #contenedor{
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    h1{
        text-align: center;
    }

    #opciones{
        padding: 0 30px;
        display: flex;
        gap: 30px;
        width: 90%;
    }

    #opciones > div{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    #opciones > div h3{
        display: flex;
        height: 80px;
        text-align: center;
        align-items: center;
    }

    @media screen and (max-width: 1200px){

        h1{
            font-size: 1.5em;
        }

        #opciones{
            flex-direction: column;
            padding: 20px 40px;
            gap: 30px;
        }
    }

</style>