---
import TablaPensum from '@/components/TablaPensum.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Pensum - Ingeniería de Sistemas">
	<h1>Pensum - Ingeniería de Sistemas</h1>
	<main>
		<TablaPensum/>
	</main>
</Layout>

<style>
	h1{
		text-align: center;
	}

</style>
