---
import TablaPensum from '@/components/TablaPensum.astro'
import Layout from '../layouts/Layout.astro'
import BarraMateriasReact from '@/components/BarraMateriasReact.jsx'
import ModalPDF from '@/components/ModalPDF.astro'
---

<Layout title="Pensum - Ingeniería de Sistemas">
  <h1>
    Universidad Distrital Francisco José de Caldas
    <br>
    <span>Plan de Estudios - Ingeniería de Sistemas</span>
  </h1>
  <main>
    
    <TablaPensum/>
  </main>
  <BarraMateriasReact client:load />
  <ModalPDF/>
  <a href="https://sgral.udistrital.edu.co/xdata/ca/res_2023-077.pdf">Resolución N° 077 de 2023 por la cual se aprueba el nuevo plan de estudios para el proyecto curricular de Ingeniería de Sistemas.</a>
</Layout>

<style>
  h1 {
    text-align: center;
  }
  
  h1 span {
    font-weight: 500;
  }

  @media screen and (max-width: 800px) {

    h1{
      font-size: 1.4em;
    }

    h1 span{
      font-size: 0.75em;
    }
    
  }
</style>
