body{
  background-color: #f0e4d7;
  text-align: center;
}
.plan-de-estudios {
  display: flex;
  gap: 20px;
  padding: 20px;
  overflow-x: auto;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 45px;
  color: #333;
  text-align: center;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  color: #555;
  text-align: center;
  margin-top: 10px;
}

.nivel-columna {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  min-width: 130px;
}

.nivel-columna h3 {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  color: #333;
  background-color: #f0f0f0;
  padding: 5px;
  border-radius: 5px;
  width: 100%;
}

.materia {
  font-family: 'Inter', sans-serif;
  border: 1px solid #333;
  padding: 10px;
  text-align: center;
  font-size: small;
  background-color: #007BFF;
  color: white;
  border-radius: 3px;
  transition: background-color 0.3s;
  width: 95%;
  height:150px;
}

.materia input[type="checkbox"] {
  margin-bottom: 10px;
}

.materia.aprobada {
  background-color: #28A745; /* Cambia el color a verde cuando está aprobado */
}

.boton {
  background-color: #0069d9; /* Azul más oscuro para el botón */
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s ease-in-out;
}

.boton:hover {
  background-color: #0056b3; /* Azul más oscuro al pasar el mouse */
  transform: scale(1.05); /* Efecto de zoom en hover */
}

.boton:active {
  background-color: #004085; /* Azul aún más oscuro al hacer click */
  transform: scale(1); /* Vuelve al tamaño original */
}